{% include "header.html" %}
<!--ABOUT-->
  <!-- Page Header -->
<header class="masthead" style="background-image: url('https://images.pexels.com/photos/2908984/pexels-photo-2908984.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500')">
  <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Hello people! I made this site as a part of a capstone project. I am going to add occasional blog posts about random topics here. If you want to tag along with me then register yourself!</p>
        <p>If you want to get in touch with me then feel free to send a message. Thank you for visiting.</p>
<!--        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequuntur magnam, excepturi aliquid ex itaque esse est vero natus quae optio aperiam soluta voluptatibus corporis atque iste neque sit tempora!</p>-->
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}